<div class="row">
  <div class="col-md-4">    
  
    <%= form_for(@ticket, :html => { :class => "form-horizontal" } ) do |f| %>
      <%= f.label :title, 'Ticket subject' %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :company_id %>
      <% companies_array = Company.all.map { |company| [company.title, company.id] } %>
      <%= f.select :company_id, options_for_select(companies_array), {}, {class: 'form-control'} %>
      <br>
      <%= f.submit "Submit ticket", class: 'form-control btn btn-primary' %>

  </div>
  <div class="col-md-8">

      <%= f.label :body %>
      <%= f.text_area :body, rows: 20, class: 'form-control' %> 

    <% end %>

  </div>
</div>




