<p id="notice"><%= notice %></p>

<div class="row">
	<h1><%= @ticket.title %> : Ticket # <%= @ticket.id %></h1>		

	<a href="#" id='new_note' class='btn btn-primary pull-right'>Add note</a>

	<em>
	<p><%= link_to @ticket.company.title, @ticket.company %> - Created <%= @ticket.created_at.strftime('%B %d, %Y at %l:%M %p') %></p>

	<% unless @ticket.created_at == @ticket.updated_at %>
		<p>Last updated at <%= @ticket.updated_at.strftime('%B %d, %Y at %l:%M %p') %></p>
	<% end %>
	<p>Ticket owned by: <%= @ticket.user.first_name %> <%= @ticket.user.last_name %></p>
	</em>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Ticket description</h3>
		  	</div>
			
			<div class="panel-body">
				<%= @ticket.body %>
			</div>

			<div class="panel-footer">
				<%= link_to 'Edit', edit_ticket_path(@ticket), class: 'btn btn-sm btn-warning' %> |
				<%= link_to 'View all tickets', tickets_path, class: 'btn btn-sm btn-info' %>
			</div>
		</div>
	</div>	

	<div class="col-md-6">

	<%= form_for([@ticket, @note], html: { class: 'form-horizontal hidden', id: 'new_note_form' } ) do |f| %>
	  <div class="form-group">
	    <%= f.label :body %><br>
	    <%= f.text_field :body %>
	  </div>
	  <div class="form-group">
	    <%= f.submit %>
	  </div>
	<% end %>

	<% @past_notes.each do |note| %>
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Note made on <%= note.created_at.strftime('%B %d, %Y at %l:%M %p') %></h3>                        
		  	</div>

		  	<div class="panel-body">
		  		<p><%= note.body %></p>
		  	</div>


		</div>
	<% end %>
	</div>
</div>	

