<p id="notice"><%= notice %></p>

<div class="row">
	<h1><%= @ticket.title %> : Ticket # <%= @ticket.id %></h1>
	<p><a href=""><%= @ticket.company %></a> - Created <%= @ticket.created_at.strftime('%B %d, %Y at %l:%M %p') %></p>

	<% unless @ticket.created_at == @ticket.updated_at %>
		<p>Last updated at <%= @ticket.updated_at.strftime('%B %d, %Y at %l:%M %p') %></p>
	<% end %>

	<p><%= @ticket.body %></p>

		

	<%= link_to 'Edit', edit_ticket_path(@ticket), class: 'btn btn-warning' %> |
	<%= link_to 'Back', tickets_path, class: 'btn btn-info' %>

	<div class="col-md-6 col-md-offset-3">
	
	</div>
</div>	

